body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
}

h1 {
  color: #ffffff; /* White color for the title */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better readability */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  padding: 10px; /* Some padding */
  border-radius: 5px; /* Rounded corners */
}

p {
  color: #ffffff; /* White color for the paragraph text */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Text shadow for better readability */
}

a {
  color: #F8F8FF; /* GhostWhite for better contrast */
  text-decoration: none; /* Remove the underline */
  text-shadow: 1px 1px 2px #000000; /* Black shadow for readability */
  font-weight: bold; /* Make the font bold */
}

a:hover {
  color: #5A3510; /* Darker brown color when hovering over the links */
}

/* Header and footer */
.header,
.footer {
  background-color: #8B4513; /* SaddleBrown */
  color: rgba(0, 0, 0, 0.5);
}

/* Top navigation */
#navbar {
  margin-bottom: 1rem;
}

#navbar a {
  font-weight: 400; /* Normal font weight */
  color: #bf6262; /* White color for the navigation links */
}

/* Content */
#content {
  flex: 1;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  #content {
    padding: 0.75rem;
  }
}
